<app-navbar></app-navbar>
<div class="details d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center">
        Traveling and Hungry? <br>
        <span style="color:blue">We</span> got <span style="color:red">you</span> covered.
    </h1>
    <br>
    <p>Pick one of our centres near you to get started.</p>
</div>
<div class="filter d-flex flex-column align-items-center">
    <div id="line1"></div>
    <div class="meal d-flex">
        <p>
            Filter by Meal Course:
        </p>
        <div>
            <input type="checkbox">Snacks
            <input type="checkbox">Main Course
            <input type="checkbox">Deserts
            <input type="checkbox">Drinks
        </div>
    </div>
    <div class="map">
        <app-map></app-map>
    </div>
    <div id="line2"></div>
</div>
<div class="about">
        <h1>About <span id="foodle">foodle</span></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magnam iure eos minima eum odit sunt in doloremque sint, tenetur odio eius sed autem iste ex. Velit, error eum ab earum eveniet eius quibusdam ipsam mollitia reprehenderit eos! Tempora, odit corporis, soluta placeat nesciunt consectetur alias ipsam eos ducimus, voluptatibus id. Iste quas nihil ex soluta, corporis laborum. Laudantium reiciendis non architecto, officia doloribus aliquid et earum autem nihil expedita quisquam ipsa nobis soluta quidem neque? Eum, dignissimos, possimus, eius explicabo expedita adipisci sunt nam amet porro reprehenderit nulla. Omnis placeat ab cum provident, praesentium accusantium nostrum sed consequatur vero?</p>
        <div id="line3"></div>
</div>
<div class="founders">
    <h1>The <span id="founder">founders</span> </h1>
    <div class="profile">
        <div class="card-container">
            <div class="image"></div>
            <div class="content">
                <h2>Jainam <br> Sanghvi</h2>
                <p>Student at <br> IIT Bombay</p>
            </div>
        </div>
        <div class="card-container">
            <div class="image"></div>
            <div class="content">
                <h2>Ayush <br> Kale</h2>
                <p>Student at <br> IIT Bombay</p>
            </div>
        </div>
    </div>
    <p class="para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti corporis excepturi unde quia nemo beatae at repudiandae amet iusto blanditiis voluptatem aliquam, numquam voluptatibus omnis dolor fugiat consequuntur asperiores nihil repellendus! Optio consectetur quod eius quia ducimus! Corrupti dolores voluptates quae natus, neque, earum beatae pariatur doloremque sunt assumenda aspernatur.</p>
    <div id="line4"></div>
</div>
<div class="testimonal">
    <h1>Our <span id="testimonial">testimonials</span></h1>
    <p-carousel [value]="testimonals" styleClass="custom-carousel"  [circular]="true" [autoplayInterval]="3000" [showIndicators]="false" styleClass="carousel" [showNavigators]="false" [responsiveOptions]="responsiveOptions">
        <!-- <ng-template pTemplate="header">
            <h5>Circular, AutoPlay, 3 Items per Page and Scroll by 1</h5>
        </ng-template> -->
        <ng-template let-testimonal pTemplate="item">
            <div class="testimonal-item">
                <img [src]="testimonal.image" alt="">
                <div class="content">
                    <h2>{{testimonal.name}}</h2>
                    <p>{{testimonal.feedback}}</p>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>
<div class="app">
    <div class="download">
        <h1>foodel on the go</h1>
        <p>Order  conveniently, <br> download our app.</p>
        <div class="store">
            <img src="../../assets/playstore.png" alt="">
            <img src="../../assets/appstore.png" alt="">
        </div>
    </div>
    <div class="preview">
        <img src="../../assets/bottom_app.png" alt="">
        <img src="../../assets/top_app.png" alt="">
    </div>
</div>
<app-footer></app-footer>