<div class="containers">
    <div class="register-box">
        <div class="logo">
            <a href="home">
                <img src="../../assets/logoFoodle.png" alt="logo">
            </a>
        </div>
        <div class="form">
            <form action="">
                <div class="email"><input placeholder="Email" type="email" class="input"></div>
                <div class="password">
                    <input placeholder="Password" type="password" class="input">
                </div>
                <div class="submit">
                    <button class="btn">Login</button>
                </div>
            </form>
            <div class="link">
                <a href="register" class="createaccount">New to Foodle? Create an account</a>
            </div>
        </div>
    </div>
    
</div>
<div class="footer">
    <div class="image">
        <img src="../../assets/foodle.png" width="107px" height="25px" alt="">
    </div>
    <div class="disclaimer">foodle®. All rights reserved</div>
    <div class="icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-twitter"></i>
    </div>
</div>