<div class="fluid-container main  justify-content-between">
    <div class="content d-flex">

        <div class="foodle">
            <img class="logo" src="../../assets/logo.png" alt="">
        </div>
        <div class="company">
            <h1>COMPANY</h1>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </div>
        <div class="contact">
            <h1>CONTACT</h1>
            <ul>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Partner with Us</a></li>
                <li><a href="#">Ride with Us</a></li>
            </ul>
        </div>
        <div class="resources">
            <h1>RESOURCES</h1>
            <ul>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Partner with Us</a></li>
                <li><a href="#">Ride with Us</a></li>
            </ul>
        </div>
    </div>
</div>