<div class="containers">
    <div class="register-box">
        <div class="logo">
            <a href="home">
                <img src="../../assets/logoFoodle.png" alt="logo">
            </a>
        </div>
        <div class="form">
            <form action="">
                <div class="name">
                    <input placeholder="Name" type="text" class="input">
                </div>
                <div class="email"><input placeholder="Email" type="email" class="input"></div>
                <div class="password">
                    <input placeholder="Password" type="password" class="input">
                </div>
                <div class="reenter">
                    <input placeholder="Re-enter password" type="password" class="input">
                </div>
                <div class="submit">
                    <button class="btn">Create Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="image">
        <img src="../../assets/foodle.png" width="107px" height="25px" alt="">
    </div>
    <div class="disclaimer">foodle®. All rights reserved</div>
    <div class="icons">
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
    </div>
</div>